@page
@model QureProject.Pages.IndexModel
@{
    ViewData["Title"] = "Головна сторінка";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div id="content">
	<div class="content">
		<div id="leftcol">
			<div class="content">
				<p>adding book</p>
			</div>
		</div>
		<div id="main">
			<div class="content">
				<p>added book</p>
			</div>
		</div>
	</div>
</div>