@{
    string? theme;
    Html.Raw(theme = HttpContextAccessor.HttpContext?.Request.Cookies["theme"]);
}

<header class="header">
	<div class="container">
		<div class="header__row">
			<a asp-controller="Home" class="header__close">
				<span class="material-symbols-outlined">west</span>
			</a>
			<div id="book_name"class="header__title_read">@ViewData["Name"]</div>
			<div id="cookies" style="all:initial">
			    <button class="header__ntsnbtn" id="switchMod" data-dismiss="alert" data-cookie-string="@theme">
				    <span class="material-symbols-outlined" data-theme="light">dark_mode</span>
				    <span class="material-symbols-outlined" data-theme="dark">light_mode</span>
			    </button>
            </div>
		</div>
	</div>
</header>