@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<div id="popup" class="popup">
	<a href="##" class="popup__area"></a>
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__title">Додати книгу</div>
			<a href="##" class="popup__close">
					<span class="material-symbols-outlined">close</span>
				</a>
			<div class="popup__row">
				<a href="" class="popup__add">
                <form method="post" action="/Home/OnPostAsync">
                    <label for="file-input">
                        <img src="~/img/ADD/add.svg" alt="+" class="popup__add_logo"/>
                    </label>

                    <input type="file" id="file-input"  />
                </form>
				</a>
				<div class="popup__info">
				    <form action="" class="popup__form">
				   		<input class="popup__input" placeholder=" ">
				   		<label for="" class="popup__label">Назва книги</label>
				   	</form>
				   	<form action="" class="popup__form">
				   		<input class="popup__input" placeholder=" ">
				   		<label for="" class="popup__label">Автор книги</label>
				   	</form>
				</div>
			</div>
            <button class="popup__accept">
				<span class="popup__accept_text">Додати</span>
			</button>
		</div>
	</div>
</div>