@charset "UTF-8";
/*Обнулення стандартних налаштувань браузерів*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Raleway:wght@500&family=Source+Sans+3:wght@200&family=Source+Sans+Pro:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*----------------------------------------------------------*/

body{
  background-color: #000;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  background-color: #424245;
  transition: 1s;
}

.container {
  max-width: 1600px;
  padding: 0 104px;
  margin: 0 auto;
  transition: 1s;
}

.header {
  background-color: #313132;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  transition: 1s;
}
.header__row {
  display: flex;
  height: 119px;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

.header__logo{
  margin: 0 10px 0 78px;
  height: 40px;
  width: 40px;
  border: 3px solid #C4C4C4;
  border-radius: 35%;
}

.header__logotext{
  color: #F6F5F5;
  padding: 8px;
  font-family: 'Rajdhani';
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 1s;
}

.header__title {
  color: #F6F5F5;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 1s;
}

.header__ntsnbtn {
  margin: 0 78px 0 10px;
  color: #6D6B6B;
  transition: 1s;
}

.material-symbols-outlined{
  background-color: #313132;
  padding-bottom: 4px;
  transition: 1s;
}

.material-symbols-outlined:hover{
  color: #fff;
}

.content {
  padding: 68px 0;
  transition: 1s;
}

.content__row {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  transition: 1s;
}

.content__column_add {
  margin: 0 70px 79px 0;
}

.content__add_logo {
  background-color: #313132;
  padding: 94px 46px;
  border-radius: 10px;
  transition: 1s;
}

.content__column_b1 {
  margin: 0 70px 35px 0;
  transition: 1s;
}

.content__column_b2 {
  margin: 0 70px 35px 0;
  transition: 1s;
}

.content__name {
  font-family: 'Source Sans Pro';
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #EFEFEF;
  transition: 1s;
}

.content__autor {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #F6F5F5;
  transition: 1s;
}

.content__image_b1 {}

.content__image_b1 img{
  border-radius: 10px;
}

.content__image_b2 {}

.content__image_b2 img{
  border-radius: 10px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: scale(1, 1);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  width: 638px;
  height: 319px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px 22px 28px 22px;
  background-color: #313132;
  flex-direction: column;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: scale(0, 0);
}

.popup__row {
  display: flex;
  font-weight: wrap;
}

.popup__title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #EFEFEF;
  padding: 10px 0px 13px 0px;
  border-bottom: 1px solid #D9D0E3;
  margin: 0 0 22px 0;
}

.popup__close {
  position: absolute;
  top: 18px;
  right: 22px;
  color: #6D6B6B;
}

.popup__add {
  margin: 0 17px 0 0;
}

.popup__add_logo {
  padding: 73px 35px;
  background-color: #C4C4C4;
  border-radius: 10px;
  cursor: pointer;
}

#file-input {
  display: none;
}

.popup__info {
    flex: 1 1 auto;
    margin: 19px 75px 98px 17px;
}

.popup__name {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px
  letter-spacing: -0.41px;
  color: #F6F5F5;
  padding: 0 0 3px 0;
  border-bottom: 1px solid rgba(217, 208, 227, 0.41);

}

.popup__autor {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  margin: 29px 0 0 0;
  letter-spacing: -0.41px;
  color: #F6F5F5;
  padding: 0 0 3px 0;
  border-bottom: 1px solid rgba(217, 208, 227, 0.41);
}