@charset "UTF-8";
/*Обнулення стандартних налаштувань браузерів*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Raleway:wght@500&family=Source+Sans+3:wght@200&family=Source+Sans+Pro:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*----------------------------------------------------------*/

:root {
    --opacity: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #424245;
    transition: 1s;
}

.container {
    max-width: 1600px;
    padding: 0 63px;
    margin: 0 auto;
    transition: 1s;
}

.header {
    background-color: #313132;
    border-bottom: 1px solid #000000;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    transition: 1s;
}

.header__row {
    display: flex;
    height: 119px;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.header__logo {
    margin: 0 10px 0 119px;
    height: 40px;
    width: 40px;
    border: 3px solid #C4C4C4;
    border-radius: 35%;
}

.header__logotext {
    color: #F6F5F5;
    padding: 8px;
    font-family: 'Rajdhani';
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 1s;
}

.header__title {
    max-width: 100px;
    color: #F6F5F5;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 1s;
}

.header__ntsnbtn {
    background-color: #313132;
    margin: 0 119px 0 10px;
    color: #6D6B6B;
    transition: 1s;
}

.material-symbols-outlined {
    padding-bottom: 4px;
    transition: 1s;
}

    .material-symbols-outlined[data-theme="dark"] {
        display: block;
    }

    .material-symbols-outlined[data-theme="light"] {
        display: none;
    }

    .material-symbols-outlined:hover {
        color: #fff;
    }

.content {
    padding: 68px 0;
    transition: 1s;
}

.content__row {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    transition: 1s;
}

.content__column_add {
    margin: 0 41px 79px 41px;
}

.content__add_logo {
    background-color: #313132;
    padding: 94px 46px;
    border-radius: 10px;
    transition: 1s;
}

.content__column {
    margin: 0 41px 35px 41px;
    transition: .2s ease-out;
}

    .content__column:hover {
        margin: -5px 41px 35px 41px;
    }

.content__name {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #EFEFEF;
    transition: 1s;
}

.content__autor {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #F6F5F5;
    transition: 1s;
}

.content__image_b1 img {
    max-height: 253px;
    border-radius: 10px;
}

.content__image_b2 img {
    max-height: 253px;
    border-radius: 10px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

    .popup:target {
        opacity: 1;
        visibility: visible;
    }

        .popup:target .popup__content {
            transform: scale(1, 1);
            opacity: 1;
        }

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__content {
    width: 638px;
    height: 319px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 22px 28px 22px;
    background-color: #313132;
    flex-direction: column;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: scale(0, 0);
}

.popup__row {
    display: flex;
    font-weight: wrap;
}

.popup__title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #EFEFEF;
    padding: 10px 0px 13px 0px;
    border-bottom: 1px solid #D9D0E3;
    margin: 0 0 22px 0;
}

.popup__close {
    position: absolute;
    top: 18px;
    right: 22px;
    color: #6D6B6B;
}

.popup__add {
    margin: 0 17px 0 0;
}

.popup__add_logo {
    padding: 73px 35px;
    background-color: #262627;
    border-radius: 10px;
}

.popup__info {
    flex: 1 1 auto;
    margin: 19px 75px 98px 17px;
}

.popup__name {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px letter-spacing: -0.41px;
    color: #F6F5F5;
    padding: 0 0 3px 0;
    border-bottom: 1px solid rgba(217, 208, 227, 0.41);
}

.popup__autor {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin: 29px 0 0 0;
    letter-spacing: -0.41px;
    color: #F6F5F5;
    padding: 0 0 3px 0;
    border-bottom: 1px solid rgba(217, 208, 227, 0.41);
}

.popup__form {
    position: relative;
    margin-bottom: 29px;
}

.popup__label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.41px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #F6F5F5;
    transition: .3s;
}

.popup__input {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #EFEFEF;
    width: 100%;
    height: 25px;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid rgba(217, 208, 227, 0.41);
    background-color: transparent;
    outline: none;
    transition: .3s;
}

    .popup__input:focus {
        border-bottom: 1px solid rgba(196, 196, 196, 0.8);
    }

        .popup__input:focus ~ .popup__label,
        .popup__input:not(:placeholder-shown) ~ .popup__label {
            top: -23px;
            font-size: 12px;
            color: rgba(246,245,245, 0.5);
            font-weight: 500;
        }

.popup__accept {
    display: flex;
    position: absolute;
    width: 90px;
    height: 32px;
    right: 41px;
    bottom: 22px;
    background-color: #262627;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 1s;
}

.popup__accept_text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #DEDEDE;
    padding: 5px 21px;
    transition: 1s;
}

.popup__accept:hover {
    background-color: #212121;
    width: 92px;
    height: 34px;
    right: 40px;
    bottom: 21px;
    transition: .3s;
}

.popup__accept_text:hover {
    color: #EFEFEF;
    font-size: 17px;
    transition: .3s;
}

.header__close {
    margin: 0 10px 0 119px;
    color: #6D6B6B;
    transition: 1s;
}

.header__title_read {
    max-width: 150px;
    text-align: center;
    color: #F6F5F5;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: none;
    transition: 1s;
}

.readmenu__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.readmenu__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 227px 0px 152px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
}

.readmenu__text_top {
    text-align: center;
    max-width: 260px;
    line-height: 50px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.25);
    margin: 0 0 7px 0;
    transition: color 1s;
}

.readmenu__text_middle {
    text-align: center;
    max-width: 598px;
    font-size: 90px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 0 0 7px 0;
    transition: color 1s;
}

.readmenu__text_bottom {
    text-align: center;
    max-width: 260px;
    line-height: 50px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.25);
    transition: color 1s;
}

.readmenu__slider {
    position: relative;
    height: 3.8px;
    width: 360px;
    background-color: #C4C4C4;
    border-radius: 45%
}

    .readmenu__slider:active {
        --opacity: 1;
    }

output {
    position: absolute;
    left: -17px;
    top: -37px;
    padding: 7px 10px;
    background-color: #C4C4C4;
    border-radius: 10px 10px 0px 10px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.41px;
    opacity: var(--opacity);
    transition: opacity 1s cubic-bezier(1, 1, 0, 1);
}

#fader {
    position: relative;
    top: -7px;
    height: 3.8px;
    width: 360px;
    background-color: transparent;
    -webkit-appearance: none;
    outline: 1;
}

    #fader::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background-color: #8B8A8A;
    }

.readmenu__instruction {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 35px;
    letter-spacing: -0.41px;
    color: #8B8A8A;
}


@media (max-width:1920px) {
    .container {
        max-width: 1600px;
        padding: 0 63px;
    }
}

@media (max-width:1685px) {
    .container {
        max-width: 1600px;
        padding: 0 63px;
    }

    .readmenu__text {
        margin: 152px 0px 152px;
    }
}

@media (max-width:1285px) {
    .container {
        max-width: 1280px;
        padding: 0 39px;
    }

    .readmenu__text {
        margin: 90px 0px 90px;
    }
}

@media (max-width:1030px) {
    .container {
        max-width: 1024px;
        padding: 0 19px;
    }

    .header__logo {
        margin: 0 10px 0 80px;
    }

    .header__ntsnbtn {
        margin: 0 80px 0 10px;
    }

    .content__add_logo {
        padding: 80px 37px;
    }

    .content__column {
        margin: 0 27px 35px 27px;
    }

        .content__column:hover {
            margin: -5px 27px 35px 27px;
        }

    .content__column_add {
        margin: 0 27px 79px 27px;
    }

    .content__name {
        font-size: 18px;
        line-height: 20px;
    }

    .content__autor {
        font-size: 12px;
        line-height: 20px;
    }

    .content__image_b1 img {
        max-height: 225px;
    }

    .content__image_b2 img {
        max-height: 225px;
    }

    .header__close {
        margin: 0 10px 0 80px;
    }
}

@media (max-width:805px) {
    .container {
        max-width: 800px;
        padding: 0 19px;
    }

    .header__logo {
        margin: 0 10px 0 60px;
    }

    .header__ntsnbtn {
        margin: 0 60px 0 10px;
    }

    .content__add_logo {
        padding: 80px 37px;
    }

    .content__column {
        margin: 0 20px 35px 20px;
    }

        .content__column:hover {
            margin: -5px 20px 35px 20px;
        }

    .content__column_add {
        margin: 0 20px 79px 20px;
    }

    .content__name {
        font-size: 18px;
        line-height: 20px;
    }

    .content__autor {
        font-size: 12px;
        line-height: 20px;
    }

    .content__image_b1 img {
        max-height: 225px;
    }

    .content__image_b2 img {
        max-height: 225px;
    }

    .header__close {
        margin: 0 10px 0 60px;
    }
}

@media (max-width:770px) {
    .container {
        max-width: 800px;
        padding: 0 19px;
    }

    .header__logo {
        margin: 0 10px 0 60px;
    }

    .header__ntsnbtn {
        margin: 0 60px 0 10px;
    }

    .content__add_logo {
        padding: 80px 37px;
    }

    .content__column {
        margin: 0 20px 35px 20px;
    }

        .content__column:hover {
            margin: -5px 20px 35px 20px;
        }

    .content__column_add {
        margin: 0 20px 79px 20px;
    }

    .content__name {
        font-size: 18px;
        line-height: 20px;
    }

    .content__autor {
        font-size: 12px;
        line-height: 20px;
    }

    .content__image_b1 img {
        max-height: 225px;
    }

    .content__image_b2 img {
        max-height: 225px;
    }

    .header__close {
        margin: 0 10px 0 60px;
    }

    .readmenu__text {
        margin: 243px 0px 100px;
    }
}

@media (max-width:481px) {
    .container {
        max-width: 480px;
        padding: 0 0px;
    }

    .header__logo {
        margin: 0 10px 0 60px;
    }

    .header__ntsnbtn {
        margin: 0 60px 0 10px;
    }

    .content__add_logo {
        padding: 57.5px 23.5px;
    }

    .content__column {
        margin: 0 20px 35px 20px;
    }

        .content__column:hover {
            margin: -5px 20px 35px 20px;
        }

    .content__column_add {
        margin: 0 20px 79px 20px;
    }

    .content__name {
        font-size: 15px;
        line-height: 20px;
    }

    .content__autor {
        font-size: 10px;
        line-height: 20px;
    }

    .content__image_b1 img {
        max-height: 180px;
    }

    .content__image_b2 img {
        max-height: 180px;
    }

    .popup__content {
        width: 400px;
        height: 300px;
        padding: 10px 22px 28px 22px;
    }

    .popup__title {
        font-size: 24px;
        line-height: 22px;
        padding: 10px 0px 13px 0px;
        margin: 0 0 15px 0;
    }

    .popup__add {
        margin: 0 15px 0 0;
    }

    .popup__add_logo {
        padding: 73px 35px;
    }

    .popup__info {
        margin: 19px 75px 98px 17px;
    }

    .popup__form {
        margin-bottom: 29px;
    }

    .popup__label {
        font-size: 20px;
        line-height: 22px;
    }

    .popup__input {
        font-size: 20px;
        line-height: 22px;
        width: 100%;
        height: 25px;
        padding-bottom: 3px;
    }

        .popup__input:focus ~ .popup__label,
        .popup__input:not(:placeholder-shown) ~ .popup__label {
            top: -23px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.2);
            font-weight: 500;
        }

    .popup__accept {
        width: 90px;
        height: 32px;
        right: 41px;
        bottom: 22px;
    }

    .popup__accept_text {
        font-size: 16px;
        line-height: 22px;
        padding: 5px 21px;
    }

    .popup__accept:hover {
        width: 92px;
        height: 34px;
        right: 40px;
        bottom: 21px;
    }

    .popup__accept_text:hover {
        font-size: 17px;
    }

    .header__close {
        margin: 0 10px 0 60px;
    }

    .readmenu__text {
        margin: 200px 0px 100px;
    }

    .readmenu__text_top {
        max-width: 140px;
        line-height: 30px;
        font-size: 40px;
    }

    .readmenu__text_middle {
        max-width: 380px;
        font-size: 60px;
        line-height: 50px;
    }

    .readmenu__text_bottom {
        max-width: 140px;
        line-height: 30px;
        font-size: 40px;
    }

    .readmenu__instruction {
        font-size: 15px;
        line-height: 35px;
    }
}

@media (max-width:415px) {
    .container {
        max-width: 414px;
        padding: 0 0px;
    }

    .header__logo {
        margin: 0 10px 0 50px;
    }

    .header__ntsnbtn {
        margin: 0 50px 0 10px;
    }

    .content {
        padding: 45px 0;
    }

    .content__add_logo {
        padding: 52.5px 20.24px;
    }

    .content__column {
        margin: 0 16px 30px 16px;
    }

        .content__column:hover {
            margin: -5px 16px 35px 16px;
        }

    .content__column_add {
        margin: 0 16px 0px 16px;
    }

    .content__name {
        font-size: 14px;
        line-height: 15px;
    }

    .content__autor {
        font-size: 9px;
        line-height: 15px;
    }

    .content__image_b1 img {
        max-height: 170px;
    }

    .content__image_b2 img {
        max-height: 170px;
    }

    .popup__content {
        width: 350px;
        height: 250px;
        padding: 10px 15px 28px 15px;
    }

    .popup__title {
        font-size: 20px;
        line-height: 18px;
        padding: 10px 0px 13px 0px;
        margin: 0 0 12px 0;
    }

    .popup__add {
        margin: 0 15px 0 0;
    }

    .popup__add_logo {
        padding: 54px 25px;
    }

    .popup__info {
        margin: 19px 75px 98px 17px;
    }

    .popup__close {
        top: 12px;
        right: 15px;
        color: #6D6B6B;
    }

    .popup__form {
        margin-bottom: 29px;
    }

    .popup__label {
        font-size: 15px;
        line-height: 22px;
    }

    .popup__input {
        font-size: 20px;
        line-height: 15px;
        width: 100%;
        height: 25px;
        padding-bottom: 3px;
    }

        .popup__input:focus ~ .popup__label,
        .popup__input:not(:placeholder-shown) ~ .popup__label {
            top: -23px;
            font-size: 10px;
        }

    .popup__accept {
        width: 80px;
        height: 32px;
        right: 22px;
        bottom: 16px;
    }

    .popup__accept_text {
        font-size: 14px;
        line-height: 20px;
        padding: 5px 21px;
    }

    .popup__accept:hover {
        width: 82px;
        height: 34px;
        right: 23px;
        bottom: 15px;
    }

    .popup__accept_text:hover {
        font-size: 17px;
    }

    .header__close {
        margin: 0 10px 0 50px;
    }

    .readmenu__text {
        margin: 170px 0px 80px;
    }

    .readmenu__text_top {
        max-width: 140px;
        line-height: 30px;
        font-size: 40px;
    }

    .readmenu__text_middle {
        max-width: 320px;
        font-size: 60px;
        line-height: 50px;
    }

    .readmenu__text_bottom {
        max-width: 140px;
        line-height: 30px;
        font-size: 40px;
    }

    .readmenu__instruction {
        font-size: 15px;
        line-height: 35px;
    }
}

@media (max-width:380px) {
    .container {
        max-width: 375px;
        padding: 0 0px;
    }

    .header__logo {
        margin: 0 10px 0 50px;
    }

    .header__ntsnbtn {
        margin: 0 50px 0 10px;
    }

    .content {
        padding: 45px 0;
    }

    .content__add_logo {
        padding: 47.5px 17.14px;
    }

    .content__column {
        margin: 0 12px 30px 12px;
    }

        .content__column:hover {
            margin: -5px 12px 35px 12px;
        }

    .content__column_add {
        margin: 0 12px 0px 12px;
    }

    .content__name {
        font-size: 13px;
        line-height: 15px;
    }

    .content__autor {
        font-size: 9px;
        line-height: 15px;
    }

    .content__image_b1 img {
        max-height: 160px;
    }

    .content__image_b2 img {
        max-height: 160px;
    }


    .popup__content {
        width: 350px;
        height: 250px;
        padding: 10px 15px 28px 15px;
    }

    .popup__title {
        font-size: 20px;
        line-height: 18px;
        padding: 10px 0px 13px 0px;
        margin: 0 0 12px 0;
    }

    .popup__add {
        margin: 0 15px 0 0;
    }

    .popup__add_logo {
        padding: 54px 25px;
    }

    .popup__info {
        margin: 19px 75px 98px 17px;
    }

    .popup__close {
        top: 12px;
        right: 15px;
        color: #6D6B6B;
    }

    .popup__form {
        margin-bottom: 29px;
    }

    .popup__label {
        font-size: 15px;
        line-height: 22px;
    }

    .popup__input {
        font-size: 20px;
        line-height: 15px;
        width: 100%;
        height: 25px;
        padding-bottom: 3px;
    }

        .popup__input:focus ~ .popup__label,
        .popup__input:not(:placeholder-shown) ~ .popup__label {
            top: -23px;
            font-size: 10px;
        }

    .popup__accept {
        width: 80px;
        height: 32px;
        right: 22px;
        bottom: 16px;
    }

    .popup__accept_text {
        font-size: 14px;
        line-height: 20px;
        padding: 5px 21px;
    }

    .popup__accept:hover {
        width: 82px;
        height: 34px;
        right: 23px;
        bottom: 15px;
    }

    .popup__accept_text:hover {
        font-size: 17px;
    }

    .header__close {
        margin: 0 10px 0 50px;
    }

    .readmenu__text {
        margin: 200px 0px 80px;
    }

    .readmenu__text_top {
        max-width: 140px;
        line-height: 30px;
        font-size: 40px;
    }

    .readmenu__text_middle {
        max-width: 320px;
        font-size: 60px;
        line-height: 50px;
    }

    .readmenu__text_bottom {
        max-width: 140px;
        line-height: 30px;
        font-size: 40px;
    }

    .readmenu__instruction {
        font-size: 15px;
        line-height: 35px;
    }
}

@media (max-width:361px) {
    .container {
        max-width: 360px;
        padding: 0 0px;
    }

    .header__logo {
        margin: 0 10px 0 50px;
    }

    .header__ntsnbtn {
        margin: 0 50px 0 10px;
    }

    .content {
        padding: 45px 0;
    }

    .content__add_logo {
        padding: 42.5px 14.05px;
    }

    .content__column {
        margin: 0 12px 30px 12px;
    }

        .content__column:hover {
            margin: -5px 12px 35px 12px;
        }

    .content__column_add {
        margin: 0 12px 0px 12px;
    }

    .content__name {
        font-size: 12px;
        line-height: 15px;
    }

    .content__autor {
        font-size: 8px;
        line-height: 15px;
    }

    .content__image_b1 img {
        max-height: 150px;
    }

    .content__image_b2 img {
        max-height: 150px;
    }

    .popup__content {
        width: 330px;
        height: 250px;
        padding: 10px 15px 28px 15px;
    }

    .popup__title {
        font-size: 20px;
        line-height: 18px;
        padding: 10px 0px 13px 0px;
        margin: 0 0 12px 0;
    }

    .popup__add {
        margin: 0 15px 0 0;
    }

    .popup__add_logo {
        padding: 54px 25px;
    }

    .popup__info {
        margin: 19px 75px 98px 17px;
    }

    .popup__close {
        top: 12px;
        right: 15px;
        color: #6D6B6B;
    }

    .popup__form {
        margin-bottom: 29px;
    }

    .popup__label {
        font-size: 15px;
        line-height: 22px;
    }

    .popup__input {
        font-size: 20px;
        line-height: 15px;
        width: 100%;
        height: 25px;
        padding-bottom: 3px;
    }

        .popup__input:focus ~ .popup__label,
        .popup__input:not(:placeholder-shown) ~ .popup__label {
            top: -23px;
            font-size: 10px;
        }

    .popup__accept {
        width: 80px;
        height: 32px;
        right: 22px;
        bottom: 16px;
    }

    .popup__accept_text {
        font-size: 14px;
        line-height: 20px;
        padding: 5px 21px;
    }

    .popup__accept:hover {
        width: 82px;
        height: 34px;
        right: 23px;
        bottom: 15px;
    }

    .popup__accept_text:hover {
        font-size: 17px;
    }

    .header__close {
        margin: 0 10px 0 50px;
    }

    .readmenu__text {
        margin: 200px 0px 80px;
    }

    .readmenu__text_top {
        max-width: 140px;
        line-height: 30px;
        font-size: 40px;
    }

    .readmenu__text_middle {
        max-width: 320px;
        font-size: 60px;
        line-height: 50px;
    }

    .readmenu__text_bottom {
        max-width: 140px;
        line-height: 30px;
        font-size: 40px;
    }

    .readmenu__instruction {
        font-size: 15px;
        line-height: 35px;
    }
}
#file-input {
    display: none;
}