@{
    ViewData["Title"] = "Головна сторінка";
    ViewData["Name"]  = "QURE";
}

<div class="content">
	<div class="container">
		<div class="content__row">
			<a href="#popup" class="content__column_add">
				<img src="~/img/ADD/add.svg" alt="" class="content__add_logo">
			</a>
			<div class="content__column">
				<a id="book1" onclick="return book1();" asp-controller="Reading" class="content__image_b1">
					<img src="~/img/book_logo/1.png" alt="" class="content__b1_logo">
				</a>
				<div class="content__name">Ромео і Джульєтта</div>
				<div class="content__autor">Вільям Шекспір</div>
			</div>
			<div class="content__column">
				<a id="book2" onclick="return book2();" asp-controller="Reading" class="content__image_b2">
					<img src="~/img/book_logo/2.png" alt="">
				</a>
				<div class="content__name">Великий Ґетсбі</div>
				<div class="content__autor">Френсіс Скотт Фіцджеральд</div>
			</div>
		</div>
	</div>
</div>
