<!DOCTYPE html>
<html lang="ua">
<head>
	<meta name="viewport" http-equiv="Content type" charset="utf-8" content="text/html, width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div id="wrap">

		<div id="header">
			<div class="content">
				<p>Шапка</p>
			</div>
		</div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            @{ await Html.RenderPartialAsync("_CookieConsentPartial"); }
        </div>

        <footer>
        <div id="footer">
			<div class="content">
				<p>Підвал</p>
			</div>
		</div>
        </footer>
	</div>
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>